html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}
body {
  background-image: url(/Images/284466.jpg);
  background-position: center;
  background-size: auto;
  font-family: sans-serif;
  margin: 0;
  font-size: 20px;
  display: grid;
  grid-template-columns: 40% 30% 30% ;
  grid-template-rows:  auto auto 1fr;
  grid-template-areas: 
  'nav nav nav'
  'h2 h2 h2'
  'aside main main'
  'footer footer footer';
}
nav{
  display: flex;
  height: 60px;
  background-image: linear-gradient(to right top, #3ed624, #4fd540, #5dd454, #6ad366, #77d276, #80d282, #8ad28d, #93d198, #9cd2a3, #a6d2ad, #b0d3b7, #bad3c0);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  grid-area: nav;
  font-family: fantasy;
  
}
h1{
  text-align: center;
  grid-area: h2;
  font-family: monospace;
  background-image: linear-gradient(to right top, #100566, #930064, #dd2347, #fb8419, #ebdb12);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}
.ml16 {
  padding: 30px 30px;
  font-weight: 500;
  font-size: 1.4em;
  text-transform: uppercase;
  letter-spacing: 0.7em;
  overflow: hidden;
}

.ml16 .letter {
  display: inline-block;
  line-height: 1em;
}

nav > div {
  font-size: 20px;
  font-weight: bold;
  margin: 0 5px;

}
nav > *:nth-last-child(3){
  margin-left: auto;
}

aside {
  grid-area: aside;
  text-align: center;
  padding-top: 250px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: darkkhaki;
}

#paragraph {
  grid-area: aside;
  padding-top: 280px;
  text-align: center;
  font-family: cursive;
  background-image: linear-gradient(to right top, #181517, #301b2f, #44224e, #512c73, #513a9d, #454baf, #325ac0, #006ad0, #0073bd, #0076a0, #007481, #3c6f6b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#paragraph.dark {
  --paragraph-pg:#01020b;
  --font-family: Arial;
  --font-size: 28px;
  background-color: var(--paragraph-pg);
  background-image: var(--paragraph-pg);
  font-family: var(--font-family);
  font-size: var(--font-size);
}

main {
  margin-left: auto;
  grid-area: main;
  padding-bottom: 50px;  
}

footer {
  display: flex;
  height: 50px;
  flex-direction: column;
  margin-left: auto;
  font-family: fantasy;
  grid-area: footer;
  background-image: linear-gradient(to right top, #0d090c, #161416, #1d1b1d, #242325, #2b2b2d, #323335, #393b3d, #404345, #494d4e, #525758, #5c6161, #666b6a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

flex-container{
  display: flex;
  flex-direction: column;
} 

.btn{
  font-size: 14px;
  font-family: cursive;
  color: purple;
  background-image: linear-gradient(to right top, #3ed624, #4fd540, #5dd454, #6ad366, #77d276, #80d282, #8ad28d, #93d198, #9cd2a3, #a6d2ad, #b0d3b7, #bad3c0);

}


@media only screen and (min-width: 768px){
  body{ 
    font-size: 22px;
    display: grid;
    grid-template-columns: 40% 30% 30% ;
    grid-template-rows:  auto auto 1fr;
    grid-template-areas: 
    'nav nav nav'
    'h2 h2 h2'
    'aside main main'
    'footer footer footer';
  }
}
@media only screen and (min-width: 1024px){
  body{ 
    font-size: 24px;
    display: grid;
    grid-template-columns: 40% 30% 30% ;
    grid-template-rows:  auto auto 1fr;
    grid-template-areas: 
    'nav nav nav'
    'h2 h2 h2'
    'aside main main'
    'footer footer footer';
  }
}
